{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <title>{% block title %}Base Page{% endblock %}</title>

  <meta content="" name="description" />
  <meta content="" name="keywords" />

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon4.png' %}" rel="icon" />
  <link href="{% static 'assets/img/favicon4.png' %}" rel="apple-touch-icon" />

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet" />

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet" />

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet" />

  <!-- Chart.js cdn link -->
  <script src="{% static 'assets/vendor/chartjs/js/chart.js' %}"></script>
  {% block cssblock %} {% endblock %}
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
        <a href="/" class="hvr-grow logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>Crimedekho</h1>
      </a>

      <!-- <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
              <a class="nav-link" href="#">Features</a>
              <a class="nav-link" href="#">Pricing</a>
              <a class="nav-link disabled">Disabled</a>
            </div>
          </div>
        </div>
      </nav> -->
        <nav id="navbar" class="navbar">
          <ul>
            <li>
              <a href="{% url 'home' %}"
                class="hvr-grow {% if request.resolver_match.view_name == 'home' %}active{% endif %}">Home</a>
            </li>

            <li>
              <a href="{% url 'fir' %}"
                class="hvr-grow {% if request.resolver_match.view_name == 'fir' %}active{% endif %}">FIR Data</a>
            </li>

            <li>
              <a href="{% url 'crimemapping' %}"
                class="hvr-grow {% if request.resolver_match.view_name == 'crimemapping' %}active{% endif %}">Crime Mapping</a>
            </li>
            <li>
              <a href="{% url 'crimeanalysis' %}"
                class="hvr-grow {% if request.resolver_match.view_name == 'crimeanalysis' %}active{% endif %}">Crime Analysis</a>
            </li>
            <li>
              <a href="{% url 'about' %}"
                class="hvr-grow {% if request.resolver_match.view_name == 'about' %}active{% endif %}">About</a>
            </li>

            {% if request.user.is_authenticated %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle text-warning" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa-solid fa-user p-1"></i>{{request.user.username | title}} <span class="caret"></span></a>
              <ul class="dropdown-menu dropdown-menu-md-end" role="menu">
                  <li class="hvr-grow">
                    <a href="{% url 'profile' %}">
                      {% if request.user.is_superuser %}All Profile{% else %}Profile{% endif %}
                    </a>
                  </li>
                  <li class="hvr-grow"><a href="{% url 'logout' %}">Logout</a></li>
              </ul>
            </li>
            {% elif request.resolver_match.view_name == 'register' %}
            <li>
              <a href="{% url 'login' %}"
                class="hvr-grow">Login</a>
            </li>
            {% elif request.resolver_match.view_name == 'login' %}
            <li>
              <a href="{% url 'register' %}"
                class="hvr-grow">Register</a>
            </li>
            {% else %}
            <li>
              <a href="{% url 'login' %}"
                class="hvr-grow">Login</a>
            </li>
            {% endif %}
          </ul>
        </nav>

      <!-- .navbar -->
    </div>
  </header>
  <!-- End Header -->
  <!-- End Header -->
  {% block content %} {% endblock %}
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <div class="row">
            <div class="col-lg-12 mb-3">
              <a href="/" class="hvr-grow logo d-flex align-items-center">
                <span>Crimedekho</span>
              </a>
            </div>
            <div class="col-lg-4">
              <img src="{% static 'assets/img/crimedekhologo.png' %}" class="img-fluid" alt="" width="130px"
                height="130px" />
            </div>
            <div class="col-lg-8 d-flex align-items-center">
              <p>
                Lending a helping hand to identify and eradicate crime to make
                this world a better place to live. We thrive to help people
                aware of their surroundings and alert to it.
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="/" class="hvr-grow">Home</a></li>
            <li>
              <a href="{% url 'fir' %}" class="hvr-grow">FIR Data</a>
            </li>
            <li>
              <a href="{% url 'crimemapping' %}" class="hvr-grow">Crime Mapping</a>
            </li>
            <li>
              <a href="{% url 'crimeanalysis' %}" class="hvr-grow">Crime Analysis</a>
            </li>
            <li>
              <a href="{% url 'about' %}" class="hvr-grow">About us</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>
            Crimedekho <br />
            Mumbai, MH 400001<br />
            India <br /><br />
            <strong>Phone:</strong> +91 9326344685<br />
            <strong>Email:</strong> hriskikesh.yadav332@gmail.com<br />
          </p>
        </div>
      </div>
    </div>

    <div class="container mt-4">
      <div class="copyright">
        <strong><span>Crimedekho</span></strong>
      </div>
      <div class="credits">Designed by <a href="#">Crime Busters</a></div>
    </div>
  </footer>
  <!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  {% block jsblock %}{% endblock %}
  <!-- Vendor JS Files -->

  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <!-- <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script> -->

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>